#vm {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 50px 1fr;
}

#header {
    overflow: auto;
    height: 50px;
    position: fixed;
}

#header h1 {
    float: left;
    margin: 10px;
    font-size: 25px;
    font-style: italic;
    font-weight: 900;
}

#header .icon {
    /* float: right; */
    cursor: pointer;

    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 50% 50%;       /* Pivot around the bottom-left palm */
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
}

.text-input {
    float: left;
    margin: 10px;
    font-size: 25px;
    font-style: italic;
    font-weight: 900;
    /* overflow: visible; */
    height: 30px;
}

#event {
    /* cursor: pointer; */
}

#motion {
    /* width: 150px; */
    /* height:150px; */
    font-size: 50px;
    line-height: 50px;
    cursor: pointer;
    position: relative;
    margin: auto;
    margin-bottom: 10px;
    display: box;
    display: -webkit-box;
    display: -moz-box;
}

#motion div {
    text-align: center;
    -webkit-box-flex: 1;
    box-flex: 1;
}

p {
    margin: unset;
}

.grid-container {
    /* clear: both;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%; */
    width: calc(100% - 200px);
    padding-top: 50px;
}
#control {
    padding: 0px;
    /* background-color: #7b00d9; */
    /* grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    border-top-left-radius: 20px; */
}

#sidebar {
    background-color: #68f503;
    padding: 10px;
    width: calc(100vw - (100vh - 30px));
    display: block;
    /* overflow: hidden; */
    position: fixed;
    top: 50px;
    right: 10px;
    /* background-color: #7b00d9; */
    /* color: white; */
    height: calc(100vh - 60px);
    /* scroll-behavior: auto; */
    overflow-y: scroll;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#sidebar::-webkit-scrollbar {
    display: none;
}

#options {
    padding-top: 20px;
}

button {
    background-color: black;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#shape-editor {
    height: calc(100vh - 50px);
    padding: 10px;
    padding-top: 0px;
}

#shape-functions {
    position: absolute;
    padding: 10px;
}

#svg {
    height: 100%;
    aspect-ratio: 1;
    overflow: hidden;
    display: block;
    border: solid 5px #68f503;
}

#triangle {
    stroke: #000;
    stroke-width: 3;
    fill: none;
}

.circle {
    fill-opacity: 0.5;
    stroke-width: 2;
    fill: black;
    stroke: black;
}

.circle:last-child {
    fill: #68f503;
    stroke: #68f503;
}